<h2>All Heroines</h2>
<p>seeded heorines links will not work because they were never given a joiner table</p>
<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
<%= button_to "create new heroine", new_heroine_path , method: "get" %>